.activate{
  color: red;
  background-color: blue;
}

.cs{
  margin-bottom: -0.5rem;
  margin-left: -1rem;
  font-size: 1.3rem;
}
.ece{
  width: 11.8rem;
  height: 10rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
}
.ec{
  color: white;
  font-size: 17px;
  font-weight: bolder;
  text-align: center;
}

.height-4{
  height: 400px;
}

.mlm{
  margin-left: -45px;
}
.mlm-2{
  margin-left: -40px;
}

